* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
#container {
  display: flex;
  justify-content: center;
}
.box {
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
#result {
  position: absolute;
  text-align: center;
  background-color: #598cda;
  color: aliceblue;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
#spinButton,
#reSpinButton,
#saveButton,
#listButton,
#downloadButton {
  display: block;
  background-color: rgb(54, 107, 207);
  font-weight: bold;
  color: aliceblue;
  outline-style: none;
}
#spinButton {
  background-color: red;
}
#saveButton {
  background-color: rgb(54, 196, 85);
}
#downloadButton:hover {
  background-color: rgb(170, 187, 23);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#spinButton:hover {
  background-color: rgb(202, 18, 119);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#reSpinButton:hover {
  background-color: rgb(218, 62, 218);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#saveButton:hover {
  background-color: rgb(241, 138, 19);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#listButton:hover {
  background-color: rgb(8, 141, 119);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
.prize-counter {
  text-align: center;
  font-weight: bold;
  background-color: #d8dee7;
}
.slideshow-container {
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
}

.slide.active {
  display: block;
}

.controls {
  text-align: center;
}

.dot {
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
#saveSuccessMessage {
  position: absolute;
}
#winnerList {
  overflow-y: auto;
}
video#xyz {
  z-index: -1;
  width: 100%;
  height: auto;
  position: relative;
}

@media only screen and (min-width: 1200px) {
  #container {
    margin-top: -320px;
    gap: 10px;
    margin-bottom: 20px;
  }
  .box {
    width: 90px;
    height: 90px;
    border-radius: 26px;
    font-size: 70px;
  }
  #result {
    margin-top: 30px;
    font-size: 24px;
    border-radius: 20px;
    padding: 10px 40px;
  }
  #spinButton,
  #reSpinButton,
  #saveButton,
  #listButton,
  #downloadButton {
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 20px;
  }
  #spinButton {
    height: 80px;
    width: 80px;
    font-size: 16px;
    border-radius: 50%;
  }
  #saveButton {
    height: 60px;
    width: 60px;
    font-size: 13px;
    border-radius: 50%;
  }
  .prize-counter {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 40px;
  }
  .slideshow-container {
    position: absolute;
    width: 300px;
    height: 440px;
    bottom: 0px;
    right: 30px;
    box-sizing: border-box;
  }
  .slideshow-container img {
    width: 300px;
    height: 440px;
    border-radius: 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  #saveSuccessMessage {
    margin-top: 850px;
  }
  #winnerList {
    max-height: 300px;
  }
}
