* {
  margin: 0;
  padding: 0;
}
body {
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}
.container-fluid {
  padding: 0;
  margin: 0;
}
#container {
  display: flex;
  justify-content: center;
}
.box {
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}
#result {
  position: absolute;
  text-align: center;
  color: #000000;
  font-weight: bold;
  z-index: 99;
  border: 10px solid #ffc400;
  box-shadow: 0 0 15px #ffc400;
  animation: borderColorChange 3s infinite linear;
}
#result h1 {
  font-style: oblique;
  margin-bottom: 20px;
}

@keyframes borderColorChange {
  0% {
    border-color: #ffc400;
    box-shadow: 0 0 15px #ffc400;
  }
  25% {
    border-color: #ff5733;
    box-shadow: 0 0 15px #ff5733;
  }
  50% {
    border-color: #fff133;
    box-shadow: 0 0 15px #fff133;
  }
  75% {
    border-color: #ffb833;
    box-shadow: 0 0 15px #ffb833;
  }
  100% {
    border-color: #ffc400;
    box-shadow: 0 0 15px #ffc400;
  }
}

#spinButton,
#reSpinButton,
#saveButton,
#listButton,
#downloadButton {
  z-index: 999;
  display: block;
  background-color: rgb(54, 107, 207);
  font-weight: bold;
  color: aliceblue;
  outline-style: none;
}
#spinButton {
  background-color: red;
}
#saveButton {
  background-color: rgb(54, 196, 85);
}
#downloadButton:hover {
  background-color: rgb(170, 187, 23);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#spinButton:hover {
  background-color: rgb(202, 18, 119);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#reSpinButton:hover {
  background-color: rgb(218, 62, 218);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#saveButton:hover {
  background-color: rgb(241, 138, 19);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#listButton:hover {
  background-color: rgb(8, 141, 119);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
.prize-counter {
  text-align: center;
  font-weight: bold;
  background-color: #d8dee7;
}
.slideshow-container {
  overflow: hidden;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
}

.slide.active {
  display: block;
}

.controls {
  text-align: center;
}

.dot {
  display: inline-block;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
#saveSuccessMessage {
  position: absolute;
}
#winnerList {
  overflow-y: auto;
}
video#xyz {
  z-index: -1;
  width: 100%;
  height: auto;
  position: relative;
}
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

img#vm {
  width: 120px;
}

@media only screen and (min-width: 1200px) {
  #container {
    margin-top: -265px;
    gap: 10px;
    margin-bottom: 20px;
  }
  .box {
    width: 90px;
    height: 90px;
    border-radius: 26px;
    font-size: 70px;
  }
  #result {
    margin-top: -70px;
    font-size: 24px;
    border-radius: 5px;
    padding: 20px 40px;
    background: rgb(250, 255, 255);
    display: none;
    line-height: 1.5;
  }
  #spinButton,
  #reSpinButton,
  #saveButton,
  #listButton,
  #downloadButton {
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 20px;
  }
  #spinButton {
    height: 80px;
    width: 80px;
    font-size: 16px;
    border-radius: 50%;
  }
  #saveButton {
    height: 60px;
    width: 60px;
    font-size: 13px;
    border-radius: 50%;
  }
  .prize-counter {
    margin-top: 10px;
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 40px;
  }
  .slideshow-container {
    position: absolute;
    width: 300px;
    height: 440px;
    bottom: 0px;
    right: 30px;
    box-sizing: border-box;
  }
  .slideshow-container img {
    width: 300px;
    height: 440px;
    border-radius: 20px;
  }

  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }

  #saveSuccessMessage {
    margin-top: 750px;
  }
  #winnerList {
    max-height: 300px;
  }
  #historyButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  #historyButton:hover {
    background-color: #0056b3;
  }
  #historyList {
    max-height: 450px;
    overflow-y: auto;
  }
  #result p {
    text-align: left;
    margin: 5px 0;
    font-weight: 400;
  }
}
