* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("back6.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
}
#container {
  margin-top: 420px;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.box {
  width: 120px;
  height: 120px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 20px;
  background-color: aliceblue;
  font-size: 70px;
}
#result {
  position: absolute;
  margin-top: -30px;
  font-size: 50px;
  text-align: center;
  background-color: #598cda;
  border-radius: 20px;
  padding: 10px 160px;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: bold;
}
#spinButton,
#reSpinButton,
#saveButton,
#listButton {
  display: block;
  margin: 10px auto;
  padding: 20px 30px;
  font-size: 1.2em;
  background-color: rgb(54, 107, 207);
  font-size: 20px;
  border-radius: 20px;
  font-weight: bold;
  color: aliceblue;
  outline-style: none;
}
#spinButton:hover {
  background-color: red;
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#reSpinButton:hover {
  background-color: rgb(62, 218, 96);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#saveButton:hover {
  background-color: rgb(241, 138, 19);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
#listButton:hover {
  background-color: rgb(8, 141, 119);
  transform: scale(0.96);
  transition: 0.2s ease-in-out;
}
.prize-counter {
  margin-top: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: #d8dee7;
  padding: 10px 50px;
  border-radius: 40px;
}
.slideshow-container {
  position: absolute;
  width: 350px;
  margin-right: -1490px;
  margin-bottom: -320px;
  overflow: hidden;
}
.slideshow-container img {
  width: 350px;
  height: 550px;
  border-radius: 30px;
}
.slide {
  display: none;
  width: 100%;
  height: auto;
}

.slide.active {
  display: block;
}

.controls {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #717171;
}
#saveSuccessMessage {
  margin-top: 850px;
  position: absolute;
}
#winnerList {
    max-height: 300px; /* Đặt chiều cao cố định */
    overflow-y: auto; /* Kích hoạt thanh cuộn khi nội dung vượt quá */
  }